.messageInput {
    width: 75%;
    height: 150px;
    border: none;
    border-radius: 10px;
    background-color: #1e3a64;
    color: white;
    font-size: 16px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;    
}




